/** Add css rules here for your application. */


/** Example rules used by the template application (remove for your app) */
.body {
	width: 100%;
}

#wrapper {
	width: 75%;
	margin: auto;
}

#source {
	font-size: x-small;
	color: grey;
	width: 500px;
}

.gwt-SuggestBox {
	height: 18px;
	width: 100px;
	margin-bottom: 25px;
}

.Flextable{
	color: black;
}

/** separates the different lines from each other*/
.FlexTable-EvenRow{
	background-color: #e0e0e0;
}

/** defines the color and the style of the title*/ 
.FlexTable-TitleRow{
	  background-color: rgba(241, 6, 6, 0.38);
      color: black;
      font-style: italic;
}

h1 {
  font-size: 2em;
  font-weight: bold;
  color: #777777;
  margin: 40px 0px 70px;
  text-align: center;
}

.sendButton {
  display: block;
  font-size: 16pt;
}

/** Most GWT widgets already have a style name defined */
.gwt-DialogBox {
  width: 400px;
}

.dialogVPanel {
  margin: 5px;
}

.serverResponseLabelError {
  color: red;
}

/** Set ids using widget.getElement().setId("idOfElement") */
#closeButton {
  margin: 15px 6px 6px;
}
